<div>

  
  <div>
    <div class="container mt-4">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="movieName" placeholder="Enter movie name">
          <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
      </form>
    </div>
    
    <!-- Display search results in a list -->
    <div class="container mt-4" *ngIf="searchResults.length > 0; else noResults">
      
        <div class="col-md-6" *ngFor="let movie of searchResults; let i = index">
          <div class="list-group-item">
            <img [src]="getImageUrl(movie.poster_path)" class="img-fluid" alt="{{ movie.title }}">
            <div class="card-body">
              <h5>{{ movie.title }}</h5>
              <p>Release Year: {{ movie.release_date | date: 'yyyy' }}</p>
              <p>Runtime: {{ movie.runtime }} minutes</p>
              <p>Vote Average: {{ movie.vote_average }}</p>
              <p>Genre: {{ getGenres(movie.genres) }}</p>
            </div>
          </div>
        </div>
      
    </div>
  
    <div>
      <ng-template #noResults>
        <div class="text-center mt-4">
          <h4>Sorry, couldn't find any movies.</h4>
        </div>
      </ng-template>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </div>
  </div>
  
</div>
